/* tag */
html {
	font-size: 12px;
	background: #efefef;
	word-wrap: break-word;
	line-height: 1.5em;
}
a {
	color: #000;
}

/* panel */
#panels {
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
	flex-wrap: wrap;
}
.panel {
	margin: 10px;
	width: 400px;
	max-height: 500px;
	overflow: auto;
}
.activity {
	background: #fff;
	margin-bottom: 5px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.activity-created {
	position: absolute;
	top: 2px;
	right: 2px;
	color: #555;
}
.activity-summary {
	margin-bottom: 5px;
}
.activity-content {
	max-height: 8.4em;
	overflow: hidden;
}
.activity-content-expanded {
	max-height: none;
}
.activity-title {
}
.activity-title img {
	border-radius: 50%;
}
.activity-title-text {
	vertical-align: top;
}
.activity-status {
	color: #555;
}

/* config */
#config textarea {
	width: 500px;
	height: 100px;
}
#configError {
	color: #f00;
}
#config-title {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}
#guide {
	margin-bottom: 20px;
}
